.NavContainer  nav > ul {
    display: flex;
    font-size: 1.8rem;
    justify-content: flex-end;  
    margin-right: 150px;
}
.NavContainer {
    padding: 3rem;
    width: 100%;
    background-color: rgb(34, 115, 182);
}
.NavContainer  nav > ul a {
    margin: 0 8px;
    text-decoration: none;
    color: white;
}
.NavContainer  nav > ul a.active,
.NavContainer nav > ul a:hover {
    color: rgb(206, 176, 43);
}