.SmurfForm {
    width: 32rem;
    margin: 0 auto;
}
.SmurfForm > input {
    height: 2.8rem;
    width: 19rem;
    text-align: center;
    border-radius: 7px;
}
.SmurfForm > input:nth-child(3) {
    display: block;
    margin: 1.6rem auto;
}
.SmurfForm > input[name="age"] {
    width: 8rem;
    margin-left: 8px;
}
.AddSmurfButton {
    height: 3.2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 16px;
    background-color: rgb(44, 172, 86);
    color: white;
    border: 1px solid rgb(27, 109, 54);
}

.AddSmurfButton:hover,
.AddSmurfButton:active {
    cursor: pointer;
    background-color: rgb(30, 112, 57);
}